/* .sidebar{
   top: 0; 
   left: 0;
   background-color: rgb(20, 20, 73);
   width: 200px;
  
}
ul li {
    list-style: none;
    padding: 10px;
 height: 100%;

}

.sidebar ul li a{
    height: 100%;
    display: block;
    justify-content: space-between;
    margin: ;
}

li a {
    color: white;
} */

/* Sidebar container */
.sidebar {
    background-color: #333;
    padding: 20px;
    width: 220px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    /* overflow-y: auto; */
  }
  
  /* Sidebar list items */
  .sidebar li {
    margin-bottom: 10px;
  }
  
  /* Sidebar links */
  .sidebar a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .sidebar a:hover {
    background-color: #555;
  }
  
  /* Active link style */
  .sidebar a.active {
    background-color: #007bff;
  }
  
  /* FontAwesome icons */
  .sidebar svg {
    margin-right: 10px;
  }
  
  .main-content{
    margin-left: 260px;
  }